%% -*- mode: erlang -*-
{deps,
 [%% not all plugins have to depend on emqx
  %% but if they do, use git_subdir in the default profile
  {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.4"}, "apps/emqx"}},
  {emqx_ctl,
   {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.4"}, "apps/emqx_ctl"}},
  {emqx_utils,
   {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.4"}, "apps/emqx_utils"}},
  {emqx_durable_storage,
   {git_subdir,
    "https://github.com/emqx/emqx.git",
    {tag, "v5.1.4"},
    "apps/emqx_durable_storage"}},
  %% this is my plugin's dependency
  {map_sets, "1.1.0"},
  {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.8.3"}}},
  {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "v0.4.2"}}}]}.

{plugins,
 [{emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}]}.

{erl_opts, [debug_info]}.

{relx,
 [{release,
   {ubidots_emqx_plugin,
    "1.0.0"}, %% this is the release version, different from app vsn in .app file
   [ubidots_emqx_plugin, map_sets]},
  {dev_mode, false},
  {include_erts, false}]}.

{project_plugins, [rebar3_format]}.

%% Additional info of the plugin
{emqx_plugrel,
 [{authors, ["ubidots"]},
  {builder,
   [{name, "ubidots"}, {contact, "devel@ubidots.com"}, {website, "http://ubidots.com"}]},
  {repo, "https://github.com/jdavidagudelo/emqx-plugin-template-test.git"},
  {functionality, ["Demo"]},
  {compatibility, [{emqx, "~> 5.0"}]},
  {description, "Another amazing EMQX plugin."}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  warnings_as_errors,
  deprecated_functions]}.
